input[type="checkbox"] {
  appearance: none;
  margin: 0;
  i {
    border: none;
  }
  &:after {
    // font: var(--fa-font-solid);
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    border: 1px solid firebrick;
    border-radius: 50%;
  }
  &:checked:after {
    background: firebrick;
  }
}
